/* colori
    #14AAF5 azzurro bottone
    #C9D0D4 grigio button
    #2CC6AB verde background
    #AB5DE6 viola
    #FF9B00 arancio
    #EC4A9D fucsia
    #A3D116 verde pis
    #F6F8F9 sfondo esterno*/

header {
    background-color: white;
    height: 100px;
    
    
}

body {
    background-color: #F6F8F9;
    margin: 0 auto;
}

h1 {
    display: inline-block;
}

.logo_img {
    width: 100px;
 
}

.logo_text {
    font-family: ;
    vertical-align: baseline;
}
    