/* colori
      --global-color: #FFFFFF;
    --bg-body-color: #F6F8F9;
    --add-task-color: #14AAF5;
    --add-section-text-color: #CFD5D9;
    --title-section-color: #4A4F58;
    --button-editorial-color: #09A9ED;
    --button-q1-goal-color: #AB5DE6;
    --button-recruiting-color: #2CC6AB;
    --button-mobile-color: #FF9B00;
    --button-website-color: #EC4A9D;
    --button-sales-color: #A3D116;
    --flag-false-color: #FF3535;
    --flag-true-color: #30C7AD;
    */

header {
    background-color: white;
    height: 100px;     
}

body {
    background-color: #4a91b4;
    margin: 0 auto;
}

h1 {
    display: inline-block;
}

.logo_img {
    vertical-align: top;
    height: 100px;
 
}

div{
    line-height: 40px ;
}

.logo_text {
    height: 100px;
    line-height: 100px;
}

/* site_main */

main {
        width: 800px;
        margin: auto;
        margin-top: 50px;
        background-color: white;

}


.task {
    padding: 20px 30px 5px;
}

.add_task {
    color: white;
    background-color: #14AAF5;
    padding: 8px 10px;
    border-radius: 5px;
    border-color: #14AAF5;
}

.add_section {
    color: #CFD5D9;
    background-color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border-color: #CFD5D9;  
}

hr {
    border: 1px solid color: #CFD5D9;
}

.circle-checkmark {
    color: #2CC6AB;
    border: 1px solid #2CC6AB;
    padding: 1px 4px;
    border-radius: 50%;
  }

  .circle-crossmark {
        color: #FF3535;
        border: 1px solid #FF3535;
        padding: 1px 4px;
        border-radius: 50%;
  }

  .editorial {
      color: white;
      font-size: 12px;
      background-color: #09A9ED;
      padding: 5px 10px;
      border-radius: 25px;
  }

  .Q1-Goals {
    color: white;
    font-size: 12px;
    background-color:#AB5DE6;
    padding: 5px 10px;
    border-radius: 25px; 
  }

  .recruiting{
    color: white;
    font-size: 12px;
    background-color:#2CC6AB;
    padding: 5px 10px;
    border-radius: 25px;   
  }

  .mobile{
    color: white;
    font-size: 12px;
    background-color:#FF9B00;
    padding: 5px 10px;
    border-radius: 25px;     
  }